
# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

rocketgraph.io {
  reverse_proxy http://localhost:9001

	handle /api/* {
		reverse_proxy http://localhost:7777
	}
	handle /webhooks/* {
		reverse_proxy http://localhost:7777
	}
	handle /awswebhooks/* {
		reverse_proxy http://localhost:7777
	}
	handle /metadata/* {
		reverse_proxy http://localhost:7777
	}
	handle /admin/* {
		reverse_proxy http://localhost:7777
	}
	handle /auth/* {
		reverse_proxy http://localhost:8000
	}
	handle /demo/* {
		reverse_proxy http://localhost:7777
	}

  log {
    output file /var/log/caddy/rocketgraph.io.log {
      roll_size 10mb
      roll_keep 20
      roll_keep_for 720h
    }
  }
}
blog.rocketgraph.io {
  reverse_proxy http://localhost:6000
}
docs.rocketgraph.io {
  reverse_proxy http://localhost:3000
}
hasura-endpoint.rocketgraph.io {
  reverse_proxy * localhost:8080
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
